/* Estilos CSS */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff; /* Azure - Um tom suave de azul */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1e90ff; /* Dodger Blue - Azul mais vibrante para o cabeçalho */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    background-color: #4682b4; /* Steel Blue - Azul mais escuro para o menu */
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 20px;
}

.menu-container a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.login-container,
.container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 110px;
    box-sizing: border-box;
}

.menu-container {
    display: none;
}

h2 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1e90ff; /* Dodger Blue - Azul mais vibrante para os botões */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #4682b4; /* Steel Blue - Alteração de cor ao passar o mouse */
}

.estoque-item {
    margin-bottom: 15px;
}

#historicoLogin li {
    margin-bottom: 10px;
}
